@{
    try
    {
        if (ViewBag.Message != null)
        {
            <div class="p-2">
                @Html.Raw(ViewBag.Message)
            </div>
        }
        if (TempData["Message"] != null)
        {
            <div class="p-2">
                @Html.Raw(Newtonsoft.Json.JsonConvert.DeserializeObject<string>(Convert.ToString(TempData["Message"])))
            </div>
        }
    }
    catch (Exception) { }
}