<footer class="footer footer-static footer-light navbar-border navbar-shadow">
    <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
        <span class="float-md-left d-block d-md-inline-block">
        <img src="/app-assets/images/logo/DanyaLogo.png" width="20"/>
        طراحی و توسعه توسط دپارتمان دانیا، شرکت ایمن افزار وایا
		<a class="text-bold-800 grey darken-2" href="https://www.vayaco.ir" target="_blank">vayaco.ir</a></span>
    </div>
</footer>