<div class="waiting mb-2 text-center">
    @*<div class="spinner-border text-primary"  role="status"></div>
        <strong>کمی صبر کنید...</strong>*@
    <img src="/app-assets/images/gif/loading2.gif" />
</div>