@model QuestionsViewModel;
<div class="row">

    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">لیست موارد ثبت شده</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
            </div>
            <div class="card-content collapse show">
                <div class="card-body card-dashboard">
                    <div class="row">
                        <div class="col-md-8"><p class="card-text">شما میتوانید از جدول زیر اقدام به حذف اطلاعات کنید</p></div>
                        <div class="col-md-4">
                            <div class="text-center">
                                <h5 class="text-danger">
                                    جمع بارم ها
                                    <strong id="SumOfBarom"> 0 </strong>
                                    نمره
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="GeneralExamQuestiosList" class="table table-striped table-bordered dt-responsive nowrap" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th><label asp-for="Title"></label></th>
                                    <th><label asp-for="Barom"></label></th>
                                    <th class="CustomOperate"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>