<li class="dropdown dropdown-notification nav-item">
    <a class="nav-link nav-link-label messagebox-btn" href="#" data-toggle="dropdown">
    <i class="ficon ft-mail bell-shake" id="notification-navbar-link"></i>
    <span id="UnreadNotif" class="badge badge-pill badge-sm badge-danger badge-up badge-glow">0</span></a>
    <ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
        <div class="arrow_box_right">
            <li class="dropdown-menu-header">
                <h6 class="dropdown-header m-0"><span class="grey darken-2">پیام ها</span></h6>
            </li>
            <li class="scrollable-container media-list w-100" id="notifSection">
                
            </li>
            <li class="dropdown-menu-footer">
                <a class="dropdown-item info text-right pr-1" asp-controller="User" asp-action="MessageList">خواندن همه</a>
            </li>
        </div>
    </ul>
</li>