<li class="dropdown d-none d-md-block mr-1">
    <a class="dropdown-toggle nav-link" id="apps-navbar-links" href="#" data-toggle="dropdown">
        برنامه ها
    </a>
    <div class="dropdown-menu">
        <div class="arrow_box"><a class="dropdown-item" href="email-application.html"><i class="ft-user"></i> ایمیل</a><a class="dropdown-item" href="gap-application.html"><i class="ft-mail"></i> چت</a><a class="dropdown-item" href="project-summary.html"><i class="ft-briefcase"></i> خلاصه ی پروژه            </a><a class="dropdown-item" href="full-calender.html"><i class="ft-calendar"></i> تقویم            </a></div>
    </div>
</li>